<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<header class="logo">
    <nav>
        <ul>
            <li><a {% if active_tab == 'home' %} class='active' {% endif %} href="{% url 'home' %}">Home</a></li>
            <li><a {% if active_tab == 'contact' %} class='active' {% endif %} href="{% url 'contact' %}">Contact</a>
            </li>
            <li><a {% if active_tab == 'me' %} class='active' {% endif %} href="{% url 'me' %}">Me</a></li>
        </ul>
    </nav>

</header>
<div>

</div>


</body>
</html>