<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<header class="logo">
    <nav>
        <ul>
            <li><a {% if active_tab == 'home' %} class='active' {% endif %} href="{% url 'home' %}">Home</a></li>
            <li><a {% if active_tab == 'contact' %} class='active' {% endif %} href="{% url 'contact' %}">Contact</a>
            </li>
            <li><a {% if active_tab == 'me' %} class='active' {% endif %} href="{% url 'me' %}">Me</a></li>
        </ul>
    </nav>

</header>
<div>
    {%  block content %}
    Strona poświęcona mojej osobie. Ponizej linki do podstron<br>
    <a href="{% url 'contact' %}">Formularz kontaktowy</a>
    <br>
    <a href="{% url 'me' %}">Troche o mnie</a>
    {%  endblock %}

</div>


</body>
<footer>
    <p>&copy; 2024 Moja Strona. Wszelkie prawa zastrzeżone.</p>
    <nav>
        <ul>
            <li><a href="/polityka-prywatnosci">Polityka prywatności</a></li>
            <li><a href="{% url 'contact' %}">Kontakt</a></li>
        </ul>
    </nav>
</footer>

</html>